/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  background-image: url('../img/fundo.png');
  background-size: auto 130vh;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-attachment: fixed;
}

/* se a tela tiver pelo menos 400 px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200) {
  body {
    font-size: 22px;
  }
}

header {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.menu {
  font-family: 'Teko', sans-serif;
  position: fixed;
  top: 10px;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1.5s, color 1.5s;
}

.menu a:active,
.menu a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  transition: all 2s;

  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
*/
.site-subtitle,
.site-title {
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 4px 4px rgb(255, 255, 255);
}

.site-title {
  font-size: 4em;
  font-family: 'Abril Fatface', cursive;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6em;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;

}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contato h2,
.sobre h2,
.portfolio h2 {
  color: rgb(6, 167, 0);
  text-shadow: 3px 3px rgb(10, 10, 10);
  font-family: 'Teko', sans-serif;
  margin: 1.5em;
  font-size: 2em;
}

.sobre p {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  text-indent: 1.4em;
  text-shadow: 3px 3px rgb(0, 0, 0);
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre a {
  color: rgb(6, 167, 0);
}

.sobre a:hover {
  color: white;
}

.sobre .avatar {
  float: right;
  margin-left: 2em;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}


.portfolio .grid {
  color: rgb(6, 167, 0);
  display: grid;
  gap: 2em;
}


@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    align-content: center;
  }
}

.portfolio figure {
  text-align: center;
  font-weight: bold;
}

.img-portfolio {
  width: 200px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 20%;
  transition: transform 2ms;
}

.img-portfolio:hover {
  transform: scale(1.1);
}


.contato .icons {
  text-align: center;
  margin-top: 100px;
}

.contato a {
  color: rgb(255, 255, 255);
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 50px rgba(6, 167, 0);
}

footer {
  height: 40px;
  margin-top: 400px;
}

footer p {
  text-align: center;
  font-size: 0.6em;
  color: rgb(255, 255, 255);
}