/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  background-image: url('../img/fundo.webp');
  background-size: auto 100vh;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400 px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200) {
  body {
    font-size: 22px;
  }
}

header {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.menu {
  font-family: 'Teko', sans-serif;
  position: fixed;
  top: 10px;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
}


a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.site-title {
  font-size: 4em;
  font-family: 'Abril Fatface', cursive;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.6em;
}

.sobre {
  padding: 2em;
  height: 100vh;
}

.sobre h2 {
  color: rgb(255, 255, 255);
  font-family: 'Teko', sans-serif;
  margin: 1.5em;
  font-size: 2em;
}

.introducao,
.apresentacao {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  margin:15px 0;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.portfolio {
  padding: 2em;
  height: 100vh;
}

.portfolio h2 {
  color: rgb(255, 255, 255);
  font-family: 'Teko', sans-serif;
  margin: 1.5em;
  font-size: 2em;
}

.portfolio .grid {
  color: rgb(255, 255, 255);
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    align-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  width: 200px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 20%;
}



